@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center
}



p, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(244, 248, 255);
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    color: #F9FAF8;
    background-color: #054c6c;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

/* header color and space */
.header-link {
    display: flex;
    margin-left: auto;
    /* padding: 0px 100px 0px 0px;   */ 
    /* either padding or space-between get same results */
    justify-content: space-between;
}

/* header link decoration */
.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    /* font-family: 'Roboto', arial; */
}

/* .box {
    background-color: rgb(5, 114, 158);
} */

.hero{
    display: flex;
    color: #F9FAF8;
    background-color: #054c6c;
    padding: 20px 0px 20px 100px;
    align-items: center;
    justify-content: space-around;
}

.header-logo img{
    height: 70px;
    width: 70px;
    cursor: pointer;
    margin-right: auto;
}

.header-logo:hover img{
    filter: contrast(.2);
}

.img > img {
    height: 200px;
    width: 250px;
    cursor: pointer;
    margin-right: auto;
}

.img:hover > img {
    filter: invert(.30);
    margin-right: auto;
}

button {
    background-color: #4e8ecd; /* Blue */
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s; /*Hover Speed*/
}

button:hover{
    background-color: #05488a; /* Blue */
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}